h1{
    font-size:5rem
}
i{
    font-size:5rem
}
h2{
    font-size: 4rem;
}
.captionss{
    font-size: 1.5rem;
}
.branding{
    background: linear-gradient(90deg, #0f23fa 0%, #0f85fa 50%, #0fe7fa 100%);
}