<div class="container p-5 d-flex flex-column gap-lg-5 flex-grow-1">
  <!-- header row -->
  <div class="d-flex justify-content-between">
    <h1>Doctors List</h1>
    <button class="btn btn-primary">
      <i class="bi bi-plus-circle"> </i>
      Add Doctor
    </button>
  </div>
  <!-- filters row -->
  <div class="d-flex gap-3">
    <div class="input-container">
      <i class="bi bi-search icon"></i>
      <input
        type="text"
        placeholder="Search Doctors..."
        class="input-field form-control"
        [(ngModel)]="searchQuery"
        (input)="onSearch(searchQuery)"
      />
    </div>
    <select name="status" id="" class="form-control">
      <option value="All">Specialization</option>
      <option value="sarah-Johnson">Cardiologist</option>
    </select>
    <select name="status" id="" class="form-control" [(ngModel)]="statusFilter" (ngModelChange)="onFilter($event)">
      <option value="All" selected>All Status</option>
      <option value="available">Available</option>
      <option value="not-available">Unavailable</option>
    </select>
    <select name="status" id="" class="form-control">
      <option value="All">Rating</option>
      <option value="sarah-Johnson">5</option>
    </select>
  </div>
  <!-- doctors table -->
  <table class="table table-hover mb-0">
    <thead>
      <tr class="table-light">
        <th scope="col" class="text-muted">ID</th>
        <th scope="col" class="text-muted">Name</th>
        <th scope="col" class="text-muted">Specialization</th>
        <th scope="col" class="text-muted">Consultation Fee</th>
        <th scope="col" class="text-muted">Rating</th>
        <th scope="col" class="text-muted">Status</th>
        <th scope="col" class="text-muted">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (doctor of filteredDoctors(); track doctor.id) {
        <tr class="align-baseline">
          <td>{{ doctor.id }}</td>
          <td>{{ doctor.name }}</td>
          <td>{{ doctor.specialization }}</td>
          <td>
            <span class="badge bg-success">{{ doctor.consultationFee }}</span>
          </td>
          <td>{{ doctor.rating }}</td>
          <td>
            <span
              class="badge"
              [class.bg-danger]="!handleDoctorAvailabilityStatus(doctor)"
              [class.bg-success]="handleDoctorAvailabilityStatus(doctor)"
              >{{
                handleDoctorAvailabilityStatus(doctor)
                  ? "Available"
                  : "Not Available"
              }}</span
            >
          </td>

          <td class="gap-2 d-flex">
            <button class="btn btn-sm btn-outline-primary">Update</button>
            <button class="btn btn-sm btn-outline-danger" (click)="onDelete(doctor.id)">Delete</button>
          </td>
        </tr>
      }

      <!-- More rows as needed -->
    </tbody>
  </table>
</div>
