
<div class="d-flex justify-content-between bg-white p-3 fw-bold">
  <h1 class="fw-bolder">Patients</h1>
  <a routerLink="/adminLayout/new-patient">
    <button class="btn btn-primary">
    <i class="bi bi-plus-circle"> </i>
    Add Patient
  </button>
  </a>
  
</div>
<div class="p-5 d-flex flex-column gap-lg-5 bg-grey flex-fill h-100">
  <!-- filters row -->
  <div class="d-flex gap-3">
    <div class="input-container w-50">
      <i class="bi bi-search icon"></i>
      <input
        type="text"
        placeholder="Search Patients..."
        class="input-field form-control"
        [(ngModel)]="searchQuery"
        (input)="onSearch(searchQuery)"
      />
    </div>
    <select name="Blood-Group" id="bloodGroup" class="form-control w-25" [(ngModel)]="bloodGroupFilter" (ngModelChange)="onBloodGroupFilter(bloodGroupFilter)">
      <option value="All" selected>All Blood Groups</option>
      @for (bg of bloodGroups; track $index) {
        <option [value]="bg">{{ bg }}</option>
      }
    </select>
    <select name="medicalCondtion" id="medicalCondition" class="form-control w-25" [(ngModel)]="conditionFilter" (ngModelChange)="onConditionFilter(conditionFilter)">
      <option value="All">All Conditions</option>
      @for (condition of medicalConditons; track $index) {
        <option [value]="condition">{{ condition }}</option>
      }
    </select>
  </div>
  <!-- patients table -->
  <div class="wrapper">
    <table class="table table-hover table-responsive bg-white align-middle">
      <thead class="bg-light-subtle fw-bold">
        <th>PATIENT</th>
        <th>DOB/AGE</th>
        <th>BLOOD</th>
        <th>INSURANCE</th>
        <th>LAST VISIT</th>
        <th>CONDITIONS</th>
        <th>ACTIONS</th>
      </thead>
      <tbody>
        @for (p of filteredPatientsList(); track p.id) {
          <tr>
            <td>
              <div style="display: flex; align-items: center; gap: 9px">
                <div
                  style="
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background: linear-gradient(135deg, #0ea5e9, #2563eb);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: 11px;
                    font-weight: 700;
                  "
                >
                  {{p.initials}}
                </div>
                <div>
                  <div style="font-weight: 600; font-size: 13px">
                    {{p.fullName}}
                  </div>
                  <div style="font-size: 11px; color: #94a3b8">#{{p.id}}</div>
                </div>
              </div>
            </td>
            <td>{{ p.dateOfBirth | date: "mediumDate" }} ({{calculateAge(p.dateOfBirth)}})</td>
            <td>
              <span class="blood-group-wrapper">
                {{ p.bloodGroup }}
              </span>
            </td>
            <td>
              {{ p.insuranceProvider }}
            </td>
            <td>
              {{ p.lastVisit | date: "mediumDate" }}
            </td>
            <td>
              <span
                [class]="
                  p.chronicConditions.length ? 'condition-wrapper' : 'none'
                "
              >
                {{ p.chronicConditions.length ? p.chronicConditions : "None" }}
              </span>
            </td>
            <td>
              <div class="d-flex gap-2">
              <a [routerLink]="['/adminLayout/patients/details/', p.id]">
                <button class="btn btn-primary">
                  View 
                </button>
              </a>
                <button class="btn btn-outline-secondary">Edit</button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
